.pied-de-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--spacing-thin);
    font-family: var(--font-base);
    border-top: 1px solid #BCC79D;
    background-color: var(--color-background, #fff);
    
    &__menu, &__social {
        flex: 1 1 40%;
        min-width: 250px;
    }
    
    & h2 {
        font-size: 1.5rem;
        margin-bottom: var(--spacing-thin);
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 0;
            list-style: none;
            
            li {
                margin: 0;
                
                a {
                    display: block;
                    padding: 0.5rem 0;
                    font-size: 2rem;
                    text-decoration: none;
                    color: var(--color-text, #333);
                    
                    &:hover {
                        color: #F07450;
                    }
                }
            }
        }
    }
}

.social-media {
    ul {
        display: flex;
        gap: var(--spacing-thin);
        padding: 0;
        list-style: none;
        
        li {
            a {
                display: flex;
                align-items: center;
                gap: 5px;
                text-decoration: none;
                color: #333;
                
                &:hover {
                    color: #F07450;
                }
            }
        }
    }
}
