.pied-de-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family: var(--font-base);
    border-top: 1px solid #BCC79D;
    background-color: var(--color-background, #fff);
    padding: 3rem 4rem;

    &__menu, &__contact, &__social {
        min-width: 300px;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: var(--spacing-thin);
    }

    .pied-de-page__social-links {
        display: flex;
        gap: 20px; 
    }

    a {
        text-decoration: none;
        color: var(--color-text, #333);

        &:hover {
            color: #F07450;
        }
    }

    &__legal {
        text-align: center; 
        margin-top: var(--spacing-thin);
    }
}

.pied-de-page__legal {
    border-top: 1px solid rgb(217, 217, 217);
    padding-top: 20px;
}