/* ----------------------------------
_recherche.scss
-----------------------------------*/
.navigation__recherche {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: var(--font-short);
    padding-right: 1rem;
}